.business-swiper-wrapper {
  overflow-x: hidden;
  width: 100%;
  touch-action: pan-y;
}

.business-swiper-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  overflow-y: visible;
  padding-top: 35px;
}

.business-swiper-container {
  user-select: none !important;
  cursor: grab;
}

.business-swiper-container:active {
  cursor: grabbing;
}

.business-swiper {
  transition: transform 0.3s ease;
  display: flex;
  gap: 8px;
  width: max-content;
}

.business-swiper-item {
  flex-shrink: 0;
  width: 184px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.business-swiper-item__content {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  padding: 50px 30px 16px;
  height: 180px;
}
